{% load core_extras %}

<div class="item-list">
    <div class="item-content">
        <h3>{{ item.title }}</h3>

        {% if item_type == 'plot_point' %}
            <div class="item-body">
                <p>{{ item.description|truncatewords_var:trunc }}</p>
                {% if item.characters.all or item.places.all or item.organizations.all %}
                    <div class="item-relations">
                        {% if item.characters.all %}
                            <span class="relation-tag">Characters: {{ item.characters.all|join:", " }}</span>
                        {% endif %}
                        {% if item.places.all %}
                            <span class="relation-tag">Places: {{ item.places.all|join:", " }}</span>
                        {% endif %}
                        {% if item.organizations.all %}
                            <span class="relation-tag">Organizations: {{ item.organizations.all|join:", " }}</span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% elif item_type == 'research_note' %}
            <div class="item-body">
                <p>{{ item.content|truncatewords_var:trunc }}</p>
                {% if item.tags %}
                    <div class="item-tags">
                        {% for tag in item.tags.split %}
                            <span class="relation-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if item.file %}
                    <div class="item-type">
                        <a href="{{ item.file.url }}" target="_blank" class="file-link">
                            <i class="fas fa-file"></i> {{ item.file.name }}
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="item-actions">
        <a href="{% url edit_url_name project_id item.id %}" class="btn">Edit</a>
        <a href="{% url delete_url_name project_id item.id %}" class="btn">Delete</a>
    </div>
</div>

