{% load core_extras %}

<div class="item-card">
    <h3>{{ item.name }}</h3>

    {% if item_type == 'character' %}
        {% if item.thumbnail %}
            <img src="{{ item.thumbnail.url }}" alt="{{ item.name }} thumbnail" style="width: 100px; height: 100px; object-fit: cover; border-radius: 4px; margin-bottom: 10px;">
        {% endif %}
        <p class="item-type">{{ item.role }}</p>
        <div class="item-body">
            <p>{{ item.description|truncatewords_var:trunc }}</p>
        </div>


    {% elif item_type == 'place' %}
        <p class="item-type">{{ item.type }}</p>
        <div class="item-body">
            <p>{{ item.description|truncatewords_var:trunc }}</p>
            {% if item.characters.all %}
                <p class="relation-tag">{{ item.characters.all|join:", " }}</p>
            {% endif %}
        </div>


    {% elif item_type == 'organization' %}
        <p class="item-type">{{ item.type }}</p>
        <div class="item-body">
            <p>{{ item.description|truncatewords_var:trunc }}</p>
            {% if item.characters.all %}
                <p class="relation-tag">{{ item.characters.all|join:", " }}</p>
            {% endif %}
        </div>

    {% endif %}

    <div class="button-card">
        <a href="{% url edit_url_name project_id item.id %}" class="btn">Edit</a>
        <a href="{% url delete_url_name project_id item.id %}" class="btn">Delete</a>
    </div>
</div>
