{% extends 'core/base.html' %}

{% block content %}
<div class="project-editor">
    <div class="section-header">
        <h2>Plot Points in {{ project.name }}</h2>
        <a href="{% url 'plotpoint_create' project.id %}" class="btn">Create Plot Point</a>
    </div>

    {% if plot_points %}
        <div class="items-list">
            {% for plot_point in plot_points %}
                {% include "core/_includes/item_list.html" with item=plot_point item_type='plot_point' project_id=project.id edit_url_name='plotpoint_edit' delete_url_name='plotpoint_delete' %}
            {% endfor %}
        </div>
    {% else %}
        <p>No plot points have been created yet. Click the "Create Plot Point" button to add one.</p>
    {% endif %}

    <div class="button-group">
        <a href="{% url 'project_edit' project.id %}" class="btn">Back to Project</a>
    </div>
</div>
{% endblock %} 