{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Delete Plot Point</h2>
            <p class="card-text">Are you sure you want to delete the plot point "{{ plot_point.order }}. {{ plot_point.title }}"?</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'project_edit' project.id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %} 